.root {
    display: inline-flex;
    position: relative;
}

.content {
    background-color: var(--ch-color-surface-overlay);
    border-color: var(--ch-color-border);
    border-radius: var(--ch-radius-md);
    border-style: solid;
    border-width: var(--ch-border-width-sm);
    box-shadow: var(--ch-shadow-md);
    color: var(--ch-color-text-primary);
    font-family: var(--ch-font-ui);
    font-size: var(--ch-font-size-md);
    min-inline-size: calc(var(--ch-space-xl) * 4);
    padding: var(--ch-space-sm);
    position: absolute;
    z-index: var(--ch-z-tooltip);
}

.content[hidden] {
    display: none;
}

.content > :first-child {
    margin-block-start: var(--ch-space-none);
}

.content > :last-child {
    margin-block-end: var(--ch-space-none);
}

.top {
    inset-block-end: calc(100% + var(--ch-space-sm));
}

.bottom {
    inset-block-start: calc(100% + var(--ch-space-sm));
}

.left {
    inset-inline-end: calc(100% + var(--ch-space-sm));
}

.right {
    inset-inline-start: calc(100% + var(--ch-space-sm));
}

.alignStart {
    transform-origin: top left;
}

.alignCenter {
    transform-origin: center;
}

.alignEnd {
    transform-origin: top right;
}

.top.alignStart,
.bottom.alignStart {
    inset-inline-start: var(--ch-space-none);
}

.top.alignCenter,
.bottom.alignCenter {
    inset-inline-start: 50%;
    transform: translateX(-50%);
}

.top.alignEnd,
.bottom.alignEnd {
    inset-inline-end: var(--ch-space-none);
}

.left.alignStart,
.right.alignStart {
    inset-block-start: var(--ch-space-none);
}

.left.alignCenter,
.right.alignCenter {
    inset-block-start: 50%;
    transform: translateY(-50%);
}

.left.alignEnd,
.right.alignEnd {
    inset-block-end: var(--ch-space-none);
}
